.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
  background: var(--mainaccent);
}

.mat-expansion-panel-header-title {
  color: var(--tabtext);
  font-weight: 800;
  font-size: 0.8rem;
  padding: 10px;
}

.mat-expansion-panel-header-description {
  color: var(--tabtext);
  font-size: 0.8rem;
}

.mat-expansion-panel {
  color: var(--tabtext);
}

mat-panel-description {
  margin-top: 10px;
}

button {
  background-color: var(--mainaccent);
  color: white;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}

h6 {
  text-decoration: underline;
}