<mat-accordion>
  <mat-expansion-panel *ngFor="let standup of standups" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ standup.dateCreated | date: 'MM/dd/yyyy' }}
      </mat-panel-title>
      <mat-panel-description>
        <b *ngIf="standup.yesterdayTask == '' || standup.todayPlan == '' || standup.blockers == ''">Not Completed</b>
        <b *ngIf="standup.yesterdayTask != '' && standup.todayPlan != '' && standup.blockers != ''">Completed</b>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div [innerHTML]="standup.yesterdayTask">
    </div>
    <div [innerHTML]="standup.todayPlan">
    </div>
    <div [innerHTML]="standup.blockers">
    </div>
    <div [innerHTML]="standup.adminFeedback">
    </div>
  </mat-expansion-panel>
</mat-accordion>
