.horizontal-scroll {
  overflow-x: auto;
}

.btn {
  margin: auto;
  border-radius: 50px;
  font-weight: 800;
  margin-left: 15px;
}

.btn-container {
  width: 100%;
  text-align: center;
  margin-left: 30px;
}

.btn-primary {
  background-color: var(--btncolor);
  border-color: var(--btncolor);
}

h2 {
  font-weight: 800;
  padding: 15px 15px 0 15px;
  color: var(--mainheading);
  font-size: 1.8rem;
}