h2 {
    font-weight: 800;
    padding: 15px;
    color: var(--mainheading);
    font-size: 1.8rem;
}

h3 {
    text-decoration: underline;
}

.kata-container {
    background: var(--modulebg);
    border-radius: 30px;
    box-shadow: 0px 2px 20px 2px var(--boxshadow);
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-areas: 'img info';
    grid-template-columns: minmax(0, 200px) minmax(0, 1fr);
    align-items: center;
}

.kata-icon {
    float: left;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 20px;
    background: var(--kataprimary);
    color: var(--tabtext);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}