<form #kataForm="ngForm" (ngSubmit)="createKata(description, name)">
    <div class="dialog-heading">
      <i class="bi bi-person-fill"></i> Create Kata
      <div class="close" [mat-dialog-close]><i class="bi bi-x-lg"></i></div>
    </div>
  
    <mat-dialog-content>
      <div class="row g-3">
        <div class="col-md-12">
          <div class="standup-info">
            <h6>Kata Name:</h6>
            <textarea class="form-control"
                      id="name"
                      [(ngModel)]="name"
                      name="name"
                      required
                      #nameField="ngModel">
            </textarea>
            <div *ngIf="nameField.invalid && nameField.touched" class="text-danger">
              Kata Name is required
            </div>
  
            <h6>Description:</h6>
            <textarea class="form-control"
                      id="description"
                      [(ngModel)]="description"
                      name="description"
                      required
                      #descField="ngModel">
            </textarea>
            <div *ngIf="descField.invalid && descField.touched" class="text-danger">
              Description is required
            </div>
          </div>

          <!-- If the user is a student // NOT IMPLEMENTED, but can be added later
          <ng-container *ngIf="role.Name == 'Student'">
            <h6>My Code:</h6>
            <textarea class="form-control"
                      id="studentCode"
                      [(ngModel)]="studentCode"
                      name="studentCode"
                      required
                      #descField="ngModel">
            </textarea>
            <div *ngIf="descField.invalid && descField.touched" class="text-danger">
              Description is required
            </div>

            <h6>My Notes:</h6>
            <textarea class="form-control"
                      id="studentNotes"
                      [(ngModel)]="studentNotes"
                      name="studentNotes"
                      required
                      #descField="ngModel">
            </textarea>

            <h6>Completion Time:</h6>
            <textarea class="form-control"
                      id="completionTime"
                      [(ngModel)]="completionTime"
                      name="completionTime"
                      required
                      #descField="ngModel">
            </textarea>
          </ng-container>
           -->
  
        </div>

        
        <div class="col-12">
          <button id="submit"
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="kataForm.invalid">
            Create Kata
          </button>
        </div>
      </div>
    </mat-dialog-content>
  </form>