#student-tabs {
  justify-content: center;
  gap: 2%;
  margin-top: 50px;
}
.nav-link.active {
  background: var(--activetab);
}
.nav-link {
  background: var(--inactivetab);
  color: var(--tabtext);
  font-weight: 700;
  border-radius: 15px;
  border: none;
}
button.btn {
  border-radius: 100%;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0.375rem 0.75rem;
  position: absolute;
  right: 15px;
}
button.btn-primary {
  background-color: var(--btncolor);
  border-color: var(--btncolor);
  margin-top: 25px;
}
.tab-pane {
  height: 80vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--btncolor) transparent;
  padding-right: 5px;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}
