@media screen and (max-width: 1550px){
  #card-container{
    display: flex;
    justify-content: center;
  }
}
.col{
  flex-direction: row;
  flex-basis: 400px;
  flex-wrap: wrap;
  flex-grow: .15;
}
.card {
  border-radius: 30px;
  box-shadow: 0px 2px 20px 2px var(--boxshadow);
  border: none;
  position: relative;
  height: fit-content;
}
.card-upper{
  height: 110px;
  justify-content: center;
}
.card-body img {
  float: left;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  object-fit: cover;
  margin: 0 15px 0 0;
}
.card-title {
  font-weight: 800;
}
.card-subtitle {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--cardsubtitle);
  font-size: 0.8rem;
}
.card-text b { /*Why are there two card-text's?*/
  font-weight: 800;
  color: var(--cardtextbold);
}
.card-text {
  margin-bottom: 0.5rem;
  font-size: 15px;
  color: var(--cardtext);
  font-weight: 600;
}
.card-lower{
  justify-content: center;
}
.progress-header{
  text-align: center;
  width: 100%;
}
.btn {
  border-radius: 50px;
  font-weight: 800;
}
.btn-container {
  width: 100%;
  text-align: center;
}
.btn-primary {
  background-color: var(--btncolor);
  border-color: var(--btncolor);
}
.row {
  margin: 0;
}
.row > * {
  padding: 15px;
}
