h2 {
  font-weight: 800;
  padding: 15px 15px 0 15px;
  color: var(--mainheading);
  font-size: 1.8rem;
}
@media screen and (max-width: 1550px){
  #card-container{
    display: flex;
    gap: 10px;
    padding: 10px;
  }
}
.col{
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
}
.card {
  margin-top: -30px;
  border-radius: 30px;
  box-shadow: 0px 2px 20px 2px var(--boxshadow);
  border: none;
  position: relative;
  min-width: 500px;
  height: fit-content;
}

.card-body {
  display: grid;
  grid-template-areas: 'img info';
  height: fit-content;
}
.card-body > div > img {
  width:auto;
  height:auto;
  max-width: 200px;
  max-height: 200px;
  margin: 0 0 0 0;
  border-radius: 20px;
}
.img-box {
  grid-area: 'img';
}
.info-box {
  grid-area: 'info';
  width: 100%;
  height: 100%;
}
.card-title {
  font-weight: 800;
  font-size: 1.5rem;
  margin: 0 13px;
  height: 10%;
}
.card-subtitle {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--cardsubtitle);
  font-size: 0.8rem;
}
.card-text b {
  font-weight: 800;
  color: var(--cardtextbold);
}
.card-text {
  margin-bottom: 0.5rem;
  padding-top: 10px;
  font-size: 15px;
  color: var(--moduletext);
  font-weight: 600;
  text-align: justify;
  height: fit-content;
  min-height: 75%;
  margin: 0 15px;
  overflow: visible;
}
.btn {
  margin: auto;
  border-radius: 50px;
  font-weight: 800;
}
.btn-container {
  width: 100%;
  height: fit-content;
  text-align: right;
}
.btn-primary {
  background-color: var(--btncolor);
  border-color: var(--btncolor);
}
.row { margin: 0; }
.row > * { padding: 15px; }
.module-tabs {
  display: flex;
  flex-direction: row;
}
.card-tab {
  background-color: var(--btncolor);
  position: relative;
  z-index: 1;
  width: 15%;
  margin-left: 8%;
  border-radius: 0 0 30px 30px;
  color: var(--tabtext);
  text-align: center;
}
.tab-num {
  font-size: 1.7rem;
  font-weight: 800;
  margin-bottom: -10px;
  padding: 0;
}
.tab-label {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--tablabel);
  text-transform: uppercase;
  padding-bottom: 5px;
}
