<div id="cards-container"class="row row-cols-3 row-cols-md-2 g-4">
  <ng-container *ngFor="let standup of standups | slice:0:3">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="standupicon"><i class="bi bi-person-arms-up"></i></div>
          <h6 class="card-subtitle mb-2">{{ standup.dateCreated | date: 'MM/dd/yyyy'}}</h6>
          <p class="card-text">
            <b *ngIf="standup.yesterdayTask == '' || standup.todayPlan == '' || standup.blockers == ''">Not Completed</b>
            <b *ngIf="standup.yesterdayTask != '' && standup.todayPlan != '' && standup.blockers != ''">Completed</b>
          </p>
          <div class="btn-container">
            <a class="btn btn-primary" *ngIf="standup.getDateCreated.getTime() >= today.getTime()" (click)="editStandup(standup, true)">Edit Daily Standup</a>
            <a class="btn btn-primary" *ngIf="standup.dateCreated.getTime() < today.getTime()" (click)="editStandup(standup, false)">View Daily Standup</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

