<div class="dialog-heading">
  <i class="bi bi-person-fill"></i> Daily Standup
  <div class="close" [mat-dialog-close]><i class="bi bi-x-lg"></i></div>
</div>
<mat-dialog-content>
  <div class="row g-3">
    <div class="col-md-12">
      <b>Yesterday's Task</b>:
      <div [innerHTML]="standup.yesterdayTask"></div>
      <b>Today's Plan</b>:
      <div [innerHTML]="standup.todayPlan"></div>
      <b>Blockers</b>:
      <div [innerHTML]="standup.blockers"></div>
      <b>Admin Feedback</b>:
      <div [innerHTML]="standup.adminFeedback"></div>
    </div>
    <div class="hint">Feel free to add HTML markdown to style your text and add links!</div>
    <div class="col-md-12 form-floating" style="height: 400px;">
      <label class="textarea-label" for="dsYesterdayTask">What I did yesterday:</label>
      <textarea class="form-control"
                id="dsYesterdayTask"
                [formControl]="dsYesterdayTask">
      </textarea>
      <label for="dsTodayPlan" class="textarea-label">What I plan to do today:</label>
      <textarea class="form-control"
                id="dsTodayPlan"
                [formControl]="dsTodayPlan">
      </textarea>
      <label for="blockers" class="textarea-label">Blockers stopping me:</label>
      <textarea class="form-control"
                id="blockers"
                [formControl]="dsBlockers"> 
      </textarea>
    </div>
    <div class="col-12">
      <button id="submit" class="btn btn-primary" type="submit" (click)="okClose()">OK</button>
    </div>
  </div>
</mat-dialog-content>
